@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.flxl-widget-transit ul,
.flxl-widget-transit li {
  padding: 0;
  margin: 0;
  display: block;
}
.flxl-widget-transit img {
  height: 60px;
  vertical-align: middle;
}
.flxl-widget-transit .flxl-transit-ttc-logo {
  height: 40px;
}
.flxl-widget-transit .flxl-transit-stop {
  font-weight: 300;
  margin-bottom: 20px;
}
.flxl-widget-transit .flxl-transit-stop-name {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 20px;
}
.flxl-widget-transit .flxl-transit-stop-direction-times {
  text-align: center;
}
.flxl-widget-transit .flxl-transit-stop-time {
  background-color: #333;
  font-size: 1.1em;
  padding: 2px 8px;
  margin-right: 5px;
  display: inline;
  border-radius: 5px;
}
.flxl-widget-transit .flxl-transit-stop-time.flxl-transit-stop-time-green {
  background-color: #00836e;
}
.flxl-widget-transit .flxl-transit-stop-time.flxl-transit-stop-time-yellow {
  background-color: #c79f00;
}
.flxl-widget-transit .flxl-transit-stop-time.flxl-transit-stop-time-red {
  background-color: #920011;
  -webkit-animation: pulsate 1s ease-out infinite;
}
