.flxl-widget-transit {
    @-webkit-keyframes pulsate {
        0% { opacity: 1 }
        50% { opacity: .5 }
        100% { opacity: 1 }
    }
    ul, li {
        padding: 0;
        margin: 0;
        display: block;
    }
    img {
        height: 60px;
        vertical-align: middle;
    }
    .flxl-transit-stop {
        font-weight: 300;
        margin-bottom: 30px;
    }
    .flxl-transit-stop-name {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 20px;
    }
    .flxl-transit-stop-direction-times {
        text-align: center;
    }
    .flxl-transit-stop-time {
        background-color: #333;
        font-size: 1.5em;
        padding: 4px 12px;
        margin-right: 5px;
        display: inline;
        border-radius: 5px;
        &.flxl-transit-stop-time-green {
            background-color: #00836e;
        }
        &.flxl-transit-stop-time-yellow {
            background-color: #e3BB00;
        }

        &.flxl-transit-stop-time-red {
            background-color: #920011;
            -webkit-animation: pulsate 1s ease-out infinite;
        }
    }
}
