/*********************
 * Flexical Styles
 *********************/

@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich'), url('../font/aldrich.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url('../font/open-sans.woff') format('woff');
}

@import 'vendor/font-awesome/font-awesome.less';
@import 'vendor/hat.less';
@import 'vendor/flexbox.less';
@import 'vendor/animate.less';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@import 'style/base.less';