{% extends 'base.html' %}

{% block title %}
    {{ board.name }}
{% endblock %}

{% import '../widgets/weather/view.html' as weather %}
{% import '../widgets/clock/view.html' as clock %}
{% import '../widgets/servers/view.html' as servers %}

{% block board %}
    <div class="flxl-widgets">
        <div class="flxl-row">
            <div class="flxl-column">
                {{ servers.view('production-servers', 'Production Servers') }}
            </div>
            <div class="flxl-column">
                {{ servers.view('internal-servers', 'Internal Servers') }}
            </div>
            <div class="flxl-column" flxl-flex="0">
                {{ clock.view('clock') }}
                {{ weather.view('weather') }}
            </div>
        </div>
    </div>
{% endblock %}











