.flxl-widget-weather .meta {
  text-align: center;
  display: table-row;
}
.flxl-widget-weather .meta-left,
.flxl-widget-weather .meta-right {
  width: 50%;
  display: table-cell;
  vertical-align: bottom;
}
.flxl-widget-weather .temperature {
  font-size: 2.6em;
}
.flxl-widget-weather .temperature small {
  font-size: .6em;
  opacity: 0.9;
}
.flxl-widget-weather [data-id="date"] {
  margin-top: .2em;
  text-align: center;
}
.flxl-widget-weather [data-id="title"] {
  font-size: 1.5em;
  margin-bottom: 15px;
  opacity: 0.7;
}
.flxl-widget-weather [data-id="skycon"] {
  width: 100%;
}
