@font-face {
	font-family: Roboto;
    src: local('Roboto'), url('../font/Roboto-Regular-webfont.woff') format('woff');
}

* {
    .box-sizing(border-box);
}

html, body {
    height: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #2c3e50;
    font-family: Roboto;
    font-size: 14px;
    color: #555;
}

time {
    display: block;
}

.flxl-loading {
    background: #2c3e50;
    .size(100%);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    .animated;
    .fadeInUp;
    &.hide {
        .slideOutUp;
    }
}

.flxl-loading-logo {
    background-image: url('../img/loading-logo.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center 20%;
    .size(100%);
    position: absolute;
    top: 0;
}

.flxl-loading-status {
    width: 100%;
    text-align: center;
    font-size: 2em;
    position: absolute;
    bottom: 10%;
}

.flxl-loading-indicator {
    .size(60px;);
    left: 50%;
    margin-left: -30px;
    position: absolute;
    bottom: 22%;
    &:before,
    &:after {
        .size(60px);
        border: 4px #fff dotted;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        .box-sizing(border-box);
        .border-radius(100%);
    }
    &:before {
        .animation(rotate 10s infinite linear);
    }
    &:after {
        .size(40px);
        top: 10px;
        left: 10px;
        .animation(rotate 10s infinite linear reverse, blink 5s infinite linear alternate); 
    }
}