.flxl-widgets {
    height: 100%;
    padding: 4px;
    .flex-display;
    .animated;
    .fadeInUp;
}

.flxl-row {
    .flex-display;
    .flex-direction(row);
    .flex(1);
}

.flxl-column {
    .flex-display;
    .flex-direction(column);
    .flex(1);
}

.flxl-widget {
    background-color: #fff;
    margin: 4px;
    font-size: 30px;
    .flex-display;
    .flex(1);
    .box-shadow(0 0 20px #333);
    .transition(background .4s ease-out);
}

&[flxl-flex="2"] {
    .flex(2);
}

&[flxl-flex="3"] {
    .flex(3);
}

&[flxl-flex="4"] {
    .flex(4);
}

&[flxl-color="red"] {
    background-color: #e64c65;
}

&[flxl-color="green"] {
    background-color: #1fbba6;
}

&[flxl-color="blue"] {
    background-color: #0fbbf1;
}