{% extends 'base.html' %}

{% block title %}
    {{ board.title }}
{% endblock %}

{% block board %}
    <div class="flxl-widgets">
        <div class="flxl-row">
            <div class="flxl-column" flxl-flex="4">
                <div class="flxl-row">
                    <div class="flxl-widget">
                            {{ board.title }}<br />
                            {{ board.asset_url }}<br />
                            {{ board|json_encode }}<br />
                    </div>
                    <div class="flxl-widget"></div>
                    <div class="flxl-widget"></div>
                </div>
                <div class="flxl-row">
                    <div class="flxl-widget"></div>
                    <div class="flxl-widget"></div>
                </div>
            </div>
            <div class="flxl-column">
                <div class="flxl-widget"></div>
                <div class="flxl-widget"></div>
                <div class="flxl-widget"></div>
            </div>
        </div>
    </div>
{% endblock %}