{% extends 'base.html' %}

{% block title %}
    {{ board.title }}
{% endblock %}

{% block board %}
    <div style="display: none;">
        {{ board.title }}<br />
        {{ board.asset_url }}<br />
        {{ board|json_encode }}<br />
    </div>
    <div class="flxl-widgets">
        <div class="flxl-row">
            <div class="flxl-column" flxl-flex="4">
                <div class="flxl-row">
                    <div class="flxl-widget" flxl-color="green">
                        <h2 class="flxl-text-heading">Internal Servers</h2>
                        <div class="flxl-donut"></div>
                        <h3 class="flxl-text-epic">OK</p>
                    </div>
                    <div class="flxl-widget" flxl-color="green">
                        <h2 class="flxl-text-heading">Production Servers</h2>
                        <div class="flxl-donut"></div>
                        <h3 class="flxl-text-epic">OK</p>
                    </div>
                    <div class="flxl-widget">
                        <ul class="flxl-status-list">
                            <li class="flxl-status-item" flxl-status="success">
                                <h3 class="flxl-status-item-name">CasperJS</h3>
                                <div class="flxl-status-item-state" flxl-color="green"></div>
                            </li>
                            <li class="flxl-status-item" flxl-status="success">
                                <h3 class="flxl-status-item-name">DjangoSecurity</h3>
                                <div class="flxl-status-item-state" flxl-color="green"></div>
                            </li>
                            <li class="flxl-status-item" flxl-status="running">
                                <h3 class="flxl-status-item-name">SDETestPostgres</h3>
                                <div class="flxl-status-item-state" flxl-color="red"></div>
                            </li>
                            <li class="flxl-status-item" flxl-status="failure">
                                <h3 class="flxl-status-item-name">SDETestSQLLite3</h3>
                                <div class="flxl-status-item-state" flxl-color="red"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flxl-row">
                    <div class="flxl-widget" flxl-color="blue">
                        <canvas class="skycon" width="100" height="100" style="height: 100px;" data-icon="RAIN"></canvas>
                        <canvas class="skycon" width="100" height="100" style="height: 100px;" data-icon="PARTLY_CLOUDY_DAY"></canvas>
                        <canvas class="skycon" width="100" height="100" style="height: 100px;" data-icon="CLEAR_DAY"></canvas>
                        <canvas class="skycon" width="100" height="100" style="height: 100px;" data-icon="WIND"></canvas>
                    </div>
                    <div class="flxl-widget"></div>
                </div>
            </div>
            <div class="flxl-column">
                <div class="flxl-widget" flxl-color="none" flxl-flex="0">
                    <time class="flxl-text-epic">
                        03:54:02 <small>PM</small>
                    </time>
                </div>
                <div class="flxl-widget" flxl-color="green" >
                    <h2 class="flxl-text-heading">Transit Schedule</h2>
                    <ul class="flxl-negative-list">
                        <li class="flxl-negative-item">
                            <h3 class="flxl-negative-item-name">501 Spadina <time>108 min</time></h3>
                        </li>
                        <li class="flxl-negative-item">
                            <h3 class="flxl-negative-item-name">211 Square One <time>2 min</time></h3>
                        </li>
                        <li class="flxl-negative-item">
                            <h3 class="flxl-negative-item-name">504 King <time>28 min</time></h3>
                        </li>
                    </ul>
                    <div class="flxl-negative-alert">Next Bus In 2 Min</div>
                </div>
                <div class="flxl-widget"flxl-flex="0">  
                </div>
            </div>
        </div>
    </div>
    <script src="{{ media_url }}/js/vendor/skycons.js" type="text/javascript"></script>
    <script type="text/javascript">
        var skycons = new Skycons({ "color": "white" });
        $('.skycon').each(function() {
            $(this).data('icon');
            skycons.add($(this)[0], Skycons[$(this).data('icon')]);
        });
        skycons.play();
    </script>
{% endblock %}