<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ media_url }}/css/style.css" media="all">
        <script src="/socket.io/socket.io.js" type="text/javascript"></script>
        <script src="{{ media_url }}/js/vendor/jquery.js" type="text/javascript"></script>
        <script src="{{ media_url }}/js/vendor/moment.js" type="text/javascript"></script>
        <script src="{{ media_url }}/js/vendor/underscore.js" type="text/javascript"></script>
        <script src="{{ media_url }}/js/vendor/backbone.js" type="text/javascript"></script>
        <script src="{{ media_url }}/js/vendor/handlebars.js" type="text/javascript"></script>
        <script src="{{ media_url }}/js/vendor/skycons.js" type="text/javascript"></script>
	</head>
    <body>
        {% block board %}{% endblock %}
        <div class="flxl-loading">
            <div class="flxl-loading-indicator"></div>
        </div>
        {% if board %}
            <script src="{{ media_url }}/js/flexical.js" type="text/javascript"></script>
            <script src="{{ bundle_url }}" type="text/javascript"></script>
            <script type="text/javascript">
                $(function() {
                    Flexical.board = new Flexical.Board({
                        id: '{{ board.id }}',
                        widgets: {
                            {% for widget in board.widgets %}
                                '{{ widget.id }}': {
                                    id: '{{ widget.id }}',
                                    type: '{{ widget.type }}'
                                },
                            {% endfor %}
                        }
                    });
                });
            </script>
        {% endif %}
        {% block templates %}{% endblock %}
        {% block boardjs %}{% endblock %}
	</body>
</html>
