{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/skycons/skycons.js"></script>
    <script type="text/javascript" src="/assets/js/flexical.js"></script>
{% endblock %}

{% block body %}
    <div class="fx-board">
        {% block board %}{% endblock %}
    </div>
{% endblock %}




